---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Acerca de mi">
    <p>
      Ingeniero en Sistema Computacionales por profesión, Programador y Desarrollador por pasión. La vida me llevó al "Godinato", pero el gusto por tirar código y frustrarme por el clásico "No Compila" no ha disminuido. Eterno alumno, que no teme abrazar las nuevas técnologías, mucho menos el nuevo framework que esté de moda (JavaScript me quitó el miedo). Tratando de vislumbrar los secretos del BackEnd y surfeando entre los frameworks del Front-End, la IA es tu amiga.
    </p>

    <p>
      El motivo de la creación del blog es sencillo: compartir mis conocimientos, lo que voy descubriendo y aprendiendo, lo que considero interesante y alguna que otra reflexión personal. Trataré que los temas sean relevantes y relacionados con el mundo Tech y del Desarrollo Web.  
    </p>

    <p>
      Si alguno de mis post te ayudó a entender o salir de alguna duda me doy por bien servido en mi misión. Y sí, será contenido para principiantes y personas que, como yo, vamos iniciando en éste camino.
    </p>

    <p>
      
    </p>
  </Page>
</Base>
