---
import RightArrowIcon from "@components/icons/RightArrowIcon.astro";
---

<div class="flex flex-row-reverse mt-6 ">
  <a
    class="flex flex-row gap-x-2 rounded-lg border border-sky-600 dark:border-sky-400 dark:hover:border-sky-600 px-12 py-3 text-sm text-sky-600 dark:text-sky-100 dark:hover:text-white hover:bg-sky-600 hover:text-white focus:outline-none focus:ring active:bg-sky-500 transition-all font-semibold items-center"
    href="/blog"
  >
    <span>Todos los posts</span>
    <RightArrowIcon class="v-6 h-6"/>
  </a>
</div>
